body {
    background-color: bisque;
}

#welcome{
    color: aquamarine;
}

#intro-section{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
    padding: 3rem;
}

.intro-photos{
    width: auto;
    height: 29rem;
    object-fit: cover;
}
