body {
    background-color: bisque;
}

#welcome{
    text-align: center;
}

#intro-section #intro-photos{
    display: flex;
    justify-content: space-around;
}

#photo-disc{
    display: flex;
    justify-content: space-around;
}

.intro-photos{
    height: 29rem;
}
